<?xml version="1.0" encoding="UTF-8"?>
<!-- <!DOCTYPE module PUBLIC "-//OpenMRS//DTD OpenMRS Config 1.2//EN" "http://resources.openmrs.org/doctype/config-1.2.dtd"> -->
<module configVersion="1.2">

	<!-- Base Module Properties -->
	<id>metadatamapping</id>
	<name>Metadata Mapping</name>
	<version>@MODULE_VERSION@</version>
	<package>org.openmrs.module.@MODULE_ID@</package>
	<author>Rafal Korytkowski</author>
	<description>
	</description>

	<activator>@MODULE_PACKAGE@.MetadataMappingActivator</activator>

	<updateURL>https://modules.openmrs.org/modules/download/@MODULE_ID@/update.rdf</updateURL>

	<!-- /Metadata Sharing Properties -->

	<require_version>1.9.8</require_version>

	<require_modules>
		<require_module version="${webservices.rest-omod.version}">org.openmrs.module.webservices.rest</require_module>
	</require_modules>

	<aware_of_modules>
		<aware_of_module>org.openmrs.module.legacyui</aware_of_module>
		<aware_of_module>org.openmrs.module.owa</aware_of_module>
	</aware_of_modules>

	<!-- Extensions -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>@MODULE_PACKAGE@.web.extension.html.AdminList</class>
	</extension>

	<!-- Required Privileges -->
	<privilege>
		<name>Manage Metadata Mapping</name>
		<description>Able to manage metadata mappings</description>
	</privilege>
	<privilege>
		<name>View Metadata Via Mapping</name>
		<description>Able to view metadata via a mapping</description>
	</privilege>
	<!-- /Required Privileges -->

	<globalProperty>
		<property>@MODULE_ID@.addLocalMappings</property>
		<description>
			Specifies whether the concept mappings to the local dictionary should be created when exporting concepts
		</description>
	</globalProperty>

	<!-- Maps hibernate file's, if present -->
	<mappingFiles>
		MetadataSource.hbm.xml
		MetadataTermMapping.hbm.xml
		MetadataSet.hbm.xml
		MetadataSetMember.hbm.xml
	</mappingFiles>

	<!-- Internationalization -->
	<!-- All message codes should start with @MODULE_ID@.* -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<!-- /Internationalization -->

</module>

